* {
    margin: 0;
    padding: 0;   
   }
   
html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

#container { 
    width: 100%;  
    height: 100%; 
    background-color: #565656;
}

#container > #wrap { 
    position: relative;
    width: 900px;
    height: 100%;
    margin: auto;   
}

aside {
    position: absolute;
    float: left;
    width: 30%;
    height: 100%; 
    background-color: #b1b1b1;
    color: white;
}

aside > #profile {
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
} 

aside > #profile img { 
    width: 100%; 
    border-radius: 5px;
}
 
aside #profileSNS > h1 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}

aside #profileSNS > a {
    color: white;
}

aside #profileSNS > a:hover {
    color: rgb(197, 76, 76);
}

aside #profileList { 
    margin-top: 50px;
}

aside ul {
    list-style: none;
    font-size: 15px;
    line-height: 27px;
}

aside #home {
    position: absolute;
    bottom: 70px;
}

section {
    position: relative;
    float: right;
    width: 70%;
    height: 100%;
    background-color: white; 
}

section > div {
    padding: 40px 50px;
    padding-bottom: 0;
}

section #explanation p {
    margin-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

section #explanation h2 {
    margin-top: 10px;
}

section .slide-wrap {
    overflow: hidden;
}

section .slide-wrap button { 
    cursor: pointer; 
    border: 0;
    background-color: transparent;
}

section .slide-wrap button i {
    color: #012c82;
    font-size: 3em;
}

section .slide-wrap button:active i {
    color: red;
}

section .slide-wrap button#prev {
    position: relative;
    top: 275px;
    left: 10px;
    z-index: 1;
}

section .slide-wrap button#next {
    position: relative;
    top: 275px; 
    left: 435px;
    z-index: 1;
}

section .slide {
    position: relative;
    width: 300%; 
}

section .slide .slide-content {
    position: relative; 
    width: 530px; 
    float: left;
}

section .slide-content .type-contet {
    width: 100%;
    height: 180px;
    margin: 0 auto; 
    margin-top: 10px;
    font-size: 15px;
}

section .slide-content .type-contet ul { 
    margin-top:10px;
    margin-left: 20px;
}

section .slide-wrap .slide-content img {
    width: 100%;
}

